PORT=5188
HOST=0.0.0.0

DATABASE_URL=
PGSSLMODE=

ELDERVALLEY_SESSION_SECRET=change_this_to_a_long_random_secret
ELDERVALLEY_ADMIN_TOKEN=change_this_only_for_admin_storage_tools
ELDERVALLEY_ALLOW_CREATIVE_WRITES=false
ELDERVALLEY_DEV_WALLETS=0xae8DC35E7e7Eb3b5428429Eed044F70Fc54BeD1a

BASE_RPC_URL=https://mainnet.base.org
ELDERVALLEY_BASE_RPC_URL=https://mainnet.base.org
ELDERVALLEY_CHAIN_ID=8453
ELDERVALLEY_HOUSES_CONTRACT=0x_contract_address_after_deploy
ELDERVALLEY_MARKETPLACE_CONTRACT=0x_marketplace_contract_address_after_deploy
ELDERVALLEY_HOUSE_INDEXER_START_BLOCK=0
ELDERVALLEY_HOUSE_INDEXER_BATCH_SIZE=2000

PRIVATE_KEY=never_commit_your_deployer_private_key_here
EXPECTED_DEPLOYER_ADDRESS=0x2654981127E3d2187316d80f304b9477B2aEc860
TREASURY_ADDRESS=0x9d6B9918422F76207f5d1239c24bC79cC9dD0B51
MARKETPLACE_FEE_BPS=250
BASESCAN_API_KEY=
VERIFY_CONTRACTS=false
